/* Color */
:root {
  --dark-color: #2b2d42;
  --light-color: #fefefe;
  --red-color: #d80032;
  --cyan-color: #41ead4;

  --red-hover-color: #be0732;
  --cyan-hover-color: #6af3e1;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1152px;
  margin: 0 auto;
  padding: 0 100px;
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-color);
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 11px 30px;
  position: fixed;
  z-index: 200;
  width: calc(1152px - 200px);
  top: 28px;
  padding-right: 0;
}
.desktop-nav .menu-items {
  display: flex;
  list-style: none;
}

.desktop-nav .menu-items li {
  margin: 0 20px;
}

.desktop-nav .menu-items li a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.desktop-nav .menu-items li a.btn {
  color: var(--light-color);
}
a.btn {
  border-radius: 24px;
  background: var(--red-color);
  color: var(--light-color);
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 400ms;
}

a.btn.cyan {
  background: var(--cyan-color);
  color: var(--dark-color);
  font-weight: bold;
  transition: background-color 400ms;
}

a.btn:hover {
  background: var(--red-hover-color);
}
a.btn.cyan:hover {
  background: var(--cyan-hover-color);
}

/* HERO SECTION */

.desktop-nav .menu-items li:nth-last-child(1) {
  margin-right: 0;
}

.desktop-nav .menu-items li a.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--red-color);
  left: 0;
  bottom: -14px;
}

/* Hero--section */

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container .left p {
  font-size: 24px;
  color: var(--dark-color);
}
.hero-container .left h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin: 8px 0px 28px 0px;
}

.hero-container .left .btn {
  margin-right: 20px;
}
.hero-container .left span {
  color: var(--red-color);
}

.hero-container .left {
  flex: 1;
}

.hero-container .right {
  padding-right: 30px;
}
/* polgoy */

.hero-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0px;
  width: 100%;
}

.hero-container .polygon {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 240px;
}
.hero-container .polygon21 {
  position: absolute;
  z-index: -1;
  left: 480px;
  top: 180px;
}

.hero-container .polygon3 {
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 540px;
}

/* Working on Brand -section */

.brands-section {
  background: var(--light-color);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  padding: 30px 50px;
  margin-top: 100px;
}

.brands-section .brands-container img {
  height: 32px;
}

.brands-section .brands-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-section h2 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 48px;
  position: relative;
}

.brands-section h2::after {
  position: absolute;
  content: "";
  height: 3px;
  background: var(--red-color);
  width: 43px;
  transform: translateX(-43px);
  bottom: 0;
}
