* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1152px;
  margin: 0 auto;
}

/* Nav-container */

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
